{% extends 'layout.html.twig' %}

{% block title %} Home Admin {% endblock %}

{% block navbar %}{% include 'Admin/_adminnavbar.html.twig' %}{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/indexProduct/" class="text-reset">PRODUCTS</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/indexOrder/" class="text-reset">ORDERS</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/indexCategory/" class="text-reset">CATEGORIES</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/indexSize" class="text-reset">SIZES</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/indexUser/" class="text-reset">USERS</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/newsletter/index" class="text-reset">NEWSLETTER</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/contactMessage/" class="text-reset">MESSAGES</a><br>▼▼</p></div>
        <div class="col pb-3"><p class="fs-5 lh-1"><a href="/admin/indexBlog/" class="text-reset">BLOG</a><br>▼▼</p></div>
    </div>
{% endblock %}

{% block footer %}{% include 'Admin/_adminfooter.html.twig' %}{% endblock %}