<section id="contactNewsletter">
    {% if errornews is not empty %}
        {% for errornew in errornews %}
            <p>{{errornew}}</p>
        {% endfor %}
    {% endif %}
</section>


<form method="post" action="/home/newsletter/">
    <div class="formemail">
        <div><label for="email" class="d-none d-sm-none d-lg-block">NEWSLETTER</label></div>
        <div><label for="email" class="d-block d-sm-block d-lg-none text-center">NEWSLETTER</label></div>
        <div class="d-flex mt-2">
            <input class="form-control" type="email" name="email" placeholder="my.email@exemple.com" required>
            <button class="btn btn-small" type="submit"><span class="material-icons">send</span></button>
        </div>
    </div>
</form>