{% extends 'layout.html.twig' %}

{% block title %} OOOps! {% endblock %}

{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
<section id="success" class="p-5 container">
    <div class="container text-center">
        <h1 class="m-3">▼▼ THIS PRODUCT ▼▼</h1>
        <p>IS ALREADY IN YOUR WISHLIST!</p>
    </div>
</section>
{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}

{% block javascript %}
<script>
    setTimeout(() => {
    document.location.href = "/home/userAccount";
    }, 1500);
</script>
{% endblock %}