{% extends 'layout.html.twig' %}

{% block titre %} Blog {% endblock %}

{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
<div class="container">
    <section>
        <div class="mt-5 text-center">
            <h1>BLOG </h1>
        </div>
    </section>
    <section id="new" class="p-5">
        <div class="row mt-2">
        {% for blog in blogs %}
                <div class="card-deck col-lg-4">
                    <div class="text-right">
                        <img src="{{blog.picture}}" height="250px" class="card-img-top"  alt="{{blog.title}}">
                        <div class="card-body">

                            <div class="text-center">
                                <h5 class="card-title">{{blog.title}}</h5>
                            </div>
                                <p class="card-text">{{blog.description}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}
