{% extends 'layout.html.twig' %}

{% block title %} FAQ {% endblock %}


{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
  <section class="text-center mt-5 mb-5">
      <h1>FAQ</h1>
  </section>
  <div class="container d-flex justify-content-center mb-5">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Why Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a ?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong> because Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a. </strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Is it possible Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a ?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong> of course Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a.</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Do you Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a ?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong> We do Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a. </strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Where is eius dissentientium contentiones pertinaces illa cum Quam ut Quam a ?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Just eius dissentientium contentiones pertinaces illa cum Quam ut Quam a. </strong>
      </div>
    </div>
  </div>
        <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        What kind of eius dissentientium contentiones pertinaces illa cum Quam ut Quam a.
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      The Eius dissentientium contentiones pertinaces illa cum Quam ut Quam a
      </div>
    </div>
  </div>
        <div class="accordion-item">
    <h2 class="accordion-header" id="headingSev">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSev" aria-expanded="false" aria-controls="collapseSev">
        Why ?
      </button>
    </h2>
    <div id="collapseSev" class="accordion-collapse collapse" aria-labelledby="headingSev" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong> because !</strong>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}
