{% extends 'layout.html.twig' %}

{% block title %} Shop {% endblock %}

{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
<div class="text-center mt-5">
<h1>THE DREAM TEAM</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="mt-3">
                    <div>
                    <img src="https://images-ext-1.discordapp.net/external/1fgFa46uQPlB46OHeDpskwsw93SmzuolMGZi8ewODgs/%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjE5MDE1OTA3%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080/https/images.unsplash.com/photo-1494914656837-44eb36fe5471?width=400&height=267"
                    width="450px" height="300px"class="img-fluid">
                     </div>
                     <div class="mt-3">
                    <p class="fs-4">Amine</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mt-3">
                    <div >
                     <img src="https://images-ext-2.discordapp.net/external/1iUgOwDoh1kMnrQZMnPWiryW-EjyNnUB1CApQb822fw/%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjE5MDE0ODcy%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080/https/images.unsplash.com/photo-1606051028555-edda93807ed0?width=400&height=267"
                     width="450px" height="300px" class="img-fluid" >
                    </div>
                    <div class="mt-3">
                    <p class="fs-4">Anne</p>
                    </div>
                </div>
            </div>
             <div class="col-sm-4">
                    <div class="mt-3">
                        <div>
                         <img src="https://images-ext-1.discordapp.net/external/drTfE-bCSuqEWOkKHpMlXYomL0AzJ9Sa7Z9lw-tPB5Q/%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjE4ODUwOTYz%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080/https/images.unsplash.com/photo-1452639443105-5c82ffe4a1da?width=400&height=267"
                          width="450px" height="300px" class="img-fluid" >
                        </div>
                        <div class="mt-3">
                        <p class="fs-4">Eddy</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="mt-3">
                    <div class "picture_team"  >
                    <img src="https://images-ext-1.discordapp.net/external/jdW5CESQp_clMoMm2rYD46ibNXoaphpV5Ez8yvDoOEE/%3Fixlib%3Drb-1.2.1%26q%3D80%26fm%3Djpg%26crop%3Dentropy%26cs%3Dtinysrgb%26w%3D1080%26fit%3Dmax/https/images.unsplash.com/photo-1536640655660-d13d0f29867b?width=400&height=267"
                    width="450px" height="50%" class="img-fluid">
                    </div>
                    <div class="mt-3">
                    <p class="fs-4">Pauline </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt-3">
                    <div class "picture_team" >
                    <img src="https://images-ext-2.discordapp.net/external/IFsDMWIsJYXynVgawUdKVSMpOmujhW1bcQASKmEo_WQ/%3Fcrop%3Dentropy%26cs%3Dtinysrgb%26fit%3Dmax%26fm%3Djpg%26ixid%3DMnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjE5MDE2MDk4%26ixlib%3Drb-1.2.1%26q%3D80%26w%3D1080/https/images.unsplash.com/photo-1618416094752-977e845b237a?width=400&height=267" 
                    width="450px" height="500px" class="img-fluid" alt="...">
                    </div>
                    <div class="mt-3">
                    <p class="fs-4">Justine</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt-3">
                    <div class "picture_team"  >
                     <img src="https://images.unsplash.com/photo-1616663395731-d70897355fd8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHZpbnlsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=267"
                   width="450px" height="800px" class="img-fluid" alt="...">
                    </div>
                    <div class="mt-3">
                    <p class="fs-4">Antoine</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}
