{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} My Account
{% endblock %}

{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
<div class="col-1 back m-3">
    <a href="/home/userAccount" class="text-reset"><span class="material-icons">keyboard_backspace</span></a>
</div>
<div class="container text-center">
    <div class="container text-center">
        <h1 class="mb-5">EDIT MY PASSWORD</h1>
    </div>
    <div class="userform">
        <form method="POST">
            <div class="mt-3 form-group form-style">
                <label for="check_password">CONFIRM PASSWORD</label>
                <input type="password" class="form-control" id="check_password" name="check_password" value="">
            </div>
            <div class="mt-3 form-group form-style">
                <label for="new_password">NEW PASSWORD</label>
                <input type="password" class="form-control" id="new_password" name="new_password" value="">
            </div>
            <div class="mt-3 form-group form-style">
                <label for="check_new_password">CONFIRM NEW PASSWORD</label>
                <input type="password" class="form-control" id="check_new_password" name="check_new_password" value="">
            </div>
            {% if errors is not empty %}
            <div class="mt-3 alert alert-secondary alert-dismissible fade show">
                {% for error in errors %}
                <p>{{ error }}</p>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <div class="mt-3 mb-5">
                <button type="submit" class="btn btn-secondary" name="register">VALIDATE</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}