{% extends 'layout.html.twig' %}

{% block title %}
{{ parent() }} Thanxxxx!
{% endblock %}

{% block navbar %}{% include 'Layout/_navbarfront.html.twig' %}{% endblock %}

{% block content %}
<section id="successcart" class="p-5 container">
    <div class="container text-center">
        <h1 class="m-3">▼▼ THANK YOU ▼▼</h1>
        <p>FOR YOUR ORDER!</p>
    </div>
</section>
{% endblock %}

{% block footer %}{% include 'Layout/_footer.html.twig' %}{% endblock %}

{% block javascript %}
<script>
    setTimeout(() => {
    document.location.href = "/home/userAccount";
    }, 1500);
</script>
{% endblock %}