{% extends 'layout.html.twig' %}

{% block title %} Detail ORDER {{idInvoice}} {% endblock %}

{% block navbar %}{% include 'Admin/_adminnavbar.html.twig' %}{% endblock %}

{% block content %}
<div class="col-1 back m-3">
  <a href="/admin/indexOrder/" class="text-reset"><span class="material-icons">keyboard_backspace</span></a>
</div>
<div class="container">
{% include 'Order/_invoice.html.twig' %}
</div>
{% endblock %}


{% block footer %}{% include 'Admin/_adminfooter.html.twig' %}{% endblock %}