<form method="post">
    <div class="form-group form-style">
        <input type="hidden" value="{{ category.id }}" name="id">
    </div>
    <div class="form-group form-style">
        <label for="name">NAME</label><br> 
        <input type="text" value="{{ category.name }}" name="name">
    </div>
    <br>
    <div class="form-group form-style">
        <button type="submit" class="btn btn-secondary" name="submit">VALIDATE</button>
    </div>
</form>
