<footer class="border-top border-dark pt-2 bg-white expand">
    <section class="newsletterfaq">
        <div class="container px-3">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-sm-12">
                    <div class="form mt-3">{% include 'Home/_newsletter.html.twig' %}</div>
                    <div class= "d-none d-sm-none d-lg-block mt-3">
                        <span class="material-icons">payments</span>
                        <span class="material-icons">payment</span>
                        <span class="material-icons">local_atm</span>
                        <span class="material-icons">price_change</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="d-none d-sm-none d-lg-block mt-3">
                        <div class ="d-flex justify-content-end"><a href="/Home/faq/" class="text-reset text-decoration-none"><p>FAQ</p></a></div>
                        <div class="d-flex justify-content-end"><a href="/Home/terms/" class="text-reset text-decoration-none"><p>Terms & Privacy Police</p></a></div>
                        <div class="d-flex justify-content-end"><a href="/Home/contact/" class="text-reset text-decoration-none"><p>Contact US</p></a></div>
                    </div>
                    <div class ="d-block d-sm-block d-lg-none mt-3">
                        <div class ="d-flex justify-content-center"><a href="/Home/faq/" class="text-reset text-decoration-none"><p>FAQ</p></a></div>
                        <div class="d-flex justify-content-center"><a href="/Home/terms/" class="text-reset text-decoration-none"><p>Terms & Privacy Police</p></a></div>
                        <div class="d-flex justify-content-center"><a href="/Home/contact/" class="text-reset text-decoration-none"><p>Contact US</p></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container copyright d-flex justify-content-center flex-column mt-3">
        <div class="d-flex justify-content-center flex-column">
            <div class="d-flex align-items-end justify-content-center">
                <a href="https://instagram.com" target="_blank" class="text-reset px-1"><span class="material-icons">photo_camera</span></a>
                <a href="https://facebook.com" target="_blank" class="text-reset px-1"><span class="material-icons">facebook</span></a>
                <a href="https://spotify.com" target="_blank" class="text-reset px-1"><span class="material-icons">contactless</span></a>
            </div>
            <div class="d-flex align-items-end justify-content-center"><p class="fs-6">© Vintage Vibe</p></div>
        </div>
    </section>
</footer>


