<header class="sticky-top border-bottom border-dark">
    <nav class="navbar navbar-expand bg-white position relative">
        <div class="container-fluid d-flex justify-content-center flex-column">
            <section class="container-fluid d-flex justify-content-center">
                <div class="container burger pt-2">
                    <a class="text-reset d-block d-sm-block d-md-none" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><span class="material-icons fs-3">menu</span></a>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                        <li class="fs-4"><a href="/home/shop" class="dropdown-item text-reset">SHOP</a></li>
                        <li class="fs-4"><a href="/home/blog" class="dropdown-item text-reset">BLOG</a></li>
                        <li class="fs-4"><a href="/home/team" class="dropdown-item text-reset">TEAM</a></li>
                    </ul>
                </div>
                <div class="container-fluid d-flex justify-content-center">
                        <div class="d-none d-sm-none d-md-block"><a href="/" class="text-reset text-decoration-none fs-1"><img src="/assets/images/LogoLONG.png" width="200px"></a></div>
                        <div class="d-block d-sm-block d-md-none"><a href="/home/index/" class="text-reset text-decoration-none fs-1">▼▼</a></div>
                </div>
                <div class="container-fluid d-flex justify-content-end pt-3">
                    <div class="search pe-3">
                        <a class="text-reset" role="button" data-bs-toggle="modal" data-bs-target="#searchmodal"><span class="material-icons fs-3">search</span></a>
                    </div>
                    {% if session.user is not defined %}
                    <div class="pe-3"><a href="/../Security/login" class="text-reset"><span class="material-icons fs-3">person_outline</span></a></div>
                    {% endif %}
                    {% if session.user is defined %}
                        {% if session.user.is_admin == true %}
                        <div class="pe-3"><a href="/admin/index/" class="text-reset"><span class="material-icons fs-3">person</span></a></div>
                        <div class="pe-3"><a href="/admin/logout" class="text-reset align-items-center"><span class="material-icons fs-3">settings_power</span></a></div>
                        {% else %}
                        <div class="pe-3"><a href="/home/userAccount/" class="text-reset"><span class="material-icons fs-3">person</span></a></div>
                        <div class="pe-3"><a href="/Security/logout" class="text-reset align-items-center"><span class="material-icons fs-3">settings_power</span></a></div>
                        {% endif %}
                    {% endif %}
                    <div class="pe-2"><a href="/../Cart/cart" class="text-reset"><span class="material-icons fs-3">shopping_cart</span></a></div>
                    {% if session.cart is not empty and session.user is defined %}
                    <div><h5>({{session.count}})</h5></div>
                    {% endif %}
            </section>
            <section class="container-fluid d-flex justify-content-center">
                <div class="fs-4 lh-1 pt-3 pb-2 px-4 d-none d-sm-none d-md-block"><a href="/home/shop" class="text-reset">SHOP</a></div>
                <div class="fs-4 lh-1 pt-3 pb-2 px-4 d-none d-sm-none d-md-block"><a href="/home/blog" class="text-reset">BLOG</a></div>
                <div class="fs-4 lh-1 pt-3 pb-2 px-4 d-none d-sm-none d-md-block"><a href="/home/team" class="text-reset">TEAM</a></div>
            </section>
        </div>
    </nav>
</header>
<div class="modal" id="searchmodal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">▼▼ What are you looking for? ▼▼</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/home/shop">
                    <div class="d-flex">
                        <label for="search" class="col-form-label"></label>
                        <input type="text" class="form-control" placeholder="Search" id="search" name="search">
                        <button type="submit" class="btn btn-small"><span class="material-icons fs-3">search</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>